* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Lato';
    src: url(assets/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url(assets/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(assets/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url(assets/Lato-Black.ttf);
    font-weight: 900;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/* ========HEADER========*/
h1 {
    font-size: inherit;
}

header {
    height: 95px;
    line-height: 89px;
    background-color: #2d303a;
    margin: 0 auto;
    position: relative;
}

.header_bottom {
    background-color: #323746;
    height: 6px;
    position: absolute;
    bottom: 0px;
    width: 1020px;
}

.header_text_logo {
    display: inline-block;
    margin-left: 40px;
    margin-right: 450px;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .header_text_logo span {
    color: #f06c64;
}

.menu_container {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 371px;
}

.menu_wrapper {
    display: flex;
    justify-content: space-between;
}

.menu_item {
    display: inline-block;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.menu_wrapper :hover {
    color: #eb5055;
}

.menu_divider {
    display: inline-block;
    color: #494e62;
}

/* ========SLIDER======== */
.slider {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
    position: relative;
}

.arrow_left {
    vertical-align: top;
    margin: 281px 0 0 42px;
    cursor: pointer;
}

.iphone_vertical {
    margin: 53px 0 0 50px;
    vertical-align: top;
}

.iphone_horizontal {
    margin: 174px 0 0 69px;
    vertical-align: top;
}

.arrow_right {
    margin: 281px 0 0 51px;
    vertical-align: top;
    cursor: pointer;
}

.slider_bottom {
    background-color: #ea676b;
    height: 6px;
    width: 1020px;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 50;
}

/* ========SERVICES======== */
.services {
    width: 1020px;
    height: 500px;
    background-color: #f2f2f2;
    vertical-align: top;
    position: relative;
}

.services_wrapper {
    padding: 69px 40px 68px 40px;
}

.services_info {
    margin: 0;
    margin-bottom: 12px;
}

.services .services_wrapper .services_info .services_info_title h2 {
    color: #666d89;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
}

.services_info_title {
    color: #666d89;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 27px;
    letter-spacing: -0.1px;
}

.services_info_description {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 46px;
    letter-spacing: -0.25px;
    text-align: justify;
}


/* ========FEATURES FLEXBOX======== */
.feature_container {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: space-between;
    height: 209px;
    width: 939px;
    flex-wrap: wrap;
}

.feature {
    width: 32%;
    height: 86px;
    margin-bottom: 37px;
}

.feature_image {
    display: inline-block;
    height: 59px;
    width: 59px;
    margin: 0 0;
    margin-right: 16px;
    margin-left: 1px;
    margin-top: 1px;
}

.feature h2 {
    font-family: Lato;
    font-weight: 900;
    margin-bottom: 9px;
    line-height: 17.86px;
}

.feature_description {
    display: inline-block;
    color: #767e9e;
    font-family: Lato;
    width: 220px;
    height: 86px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    vertical-align: top;
    text-align: justify;
    overflow: hidden;
}

.services_bottom_line {
    position: absolute;
    height: 6px;
    width: 1020px;
    margin: 0;
    bottom: 0px;
    background-color: #ffffff;
}

.portfolio {
    width: 1020px;
    height: 870px;
    background-color: #2d303a;
    position: relative;
}

.portfolio_title {
    display: inline-block;
    color: #666d89;
    font-family: Lato, serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 69px 0 22px 41px;
    height: 23px;
}

.portfolio_description {
    color: #767e9e;
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 24px 41px;
    height: 17px;
}

.portfolio_menu {
    margin: 0 0 19px 41px;
    width: 289px;
    display: flex;
    justify-content: space-between;
}

.portfolio_menu_item {
    display: inline-block;
    border: 1px #767e9e solid;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.portfolio_images_wrapper {
    width: 1020px;

}

.portfolio_images {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
    height: 209px;
    flex-wrap: wrap;

}

.portfolio_image {
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
}

.portfolio_bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    position: absolute;
    bottom: 0px;
}

.about_us {
    width: 1020px;
    height: 734px;
    margin: 0 auto;
    background-color: #f2f2f2;
    position: relative;
    display: inline-block;
}

.about_us_bottom {
    width: 1020px;
    height: 6px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.about_us_title {
    color: #666d89;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 68px 0 29px 40px;
}

.about_us_description {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 40px 43px 41px;
}

.authors_wrapper {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.author {
    width: 301px;
    height: 443px;
}

.author_photo {
margin-bottom: 13px;
}

.author_name {
    color: #666d89;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    margin: 0 0 10px 1px;
}

.author_description {
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px;
}

.author_socials {
    margin-left: 1px;
    width: 152px;
    display: flex;
    justify-content: space-between;

}

.social_icon_wrapper {
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}